---
layout: default
title: proddit
---

{% for post in paginator.posts %}

	<article class="post">

		{% if post.external-url %}
			<h1>
				<a href="{{ post.external-url }}">{{ post.title }}</a>
				<a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
			</h1>
		{% else %}
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		{% endif %}

		<div class="post-content">{{ post.content }}</div>
		<div>
		    <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{post.date}}">Comentarii</a>
		    <span style="float: right;" class="meta">
			<span class="postdate">{{ post.date | date: "%d.%m.%Y" }} </span>
		    </span>
		</div>

	</article>

{% endfor %}



{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Mai noi</a>
			{% else %}
				<a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Mai noi</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Mai noi</span>
		{% endif %}

		<span class="pages">Pag. {{ paginator.page }} din {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="/page{{paginator.next_page}}/">Mai vechi &rarr;</a>
		{% else %}
			<span class="nope right">Mai vechi &rarr;</span>
		{% endif %}

	</div>
{% endif %}

{% include googleanal.html %}
<script id="dsq-count-scr" src="//proddit.disqus.com/count.js" async></script>
